<!DOCTYPE html>
<html>
	<head profile="http://www.w3.org/2005/10/profile">
	<link rel="icon" 
    	type="image/png" 
      	href="/static/img/favicon.ico">
      	<!-- javascript file -->
      	<meta charset="utf-8">
      	<script type="text/javascript" src="static/js/script.js"></script>

      	<!--jquery files-->
      	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

		<!--start css-->
		<link rel="stylesheet" type="text/css" href="static/styles.css">

		<!--start bootstrap cdn links-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		// <script>
  // 			$(function() {
  //   			$( "#datepicker" ).datepicker();
  // 			});
  // 		</script>
	
		<title>Valeez</title>
	</head>

	<body>
		<!--start top nav-->
		<nav class="navbar navbar-default" role="navigation">
  			
			<nav class="navbar navbar-default navbar-fixed-top navbar-custom" id="top-nav" role="navigation">
  				<div class="btn-group btn-group-justified">
  					<ul class="nav nav-justified">
  						<li><img src="static/img/valeez_title2.png" height="45"></li>
  						<li></li>
  						<li></li>
  						<li></li>
  						<li></li>
  						<li></li>
  						<li><a href="pack">packup</a></li>
  						<li><a href="about">learn more</a></li>
  						<li><a href="credits roll">roll credits</a></li>
 					</ul>
  				</div>
			</nav>
		<!--end top nav-->
		<div class="jumbotron">
		  			<h2>&nbsp&nbspReady to go?</h2>
		  			<p>&nbsp&nbsp Use valeez to make sure you have everything you need on your trip</p>
		  			<p>&nbsp&nbsp<a class="btn btn-success btn-lg" href="#" role="button">get packing!</a></p>
		</div>
		<div class="row container-fluid pack-up">
			<div class="col-md-1"></div>
			<div class="col-md-10">
					<!-- start form to submit query -->
						<form class="form-horizontal" role="form" method='post'>

						<div class="form-group">
					    		<label for="user-sex" class="col-sm-4 control-label">you dress as a...?</label>
					    		<div class="col-sm-5">
					      				<select name = "user_sex" class="form-control">
											<option value = "female">female</option>
											<option value = "male">male</option>
										</select>

					    		</div>
					  		</div>
					    		
					  		<div class="form-group">
					    		<label for="destination" class="col-sm-4 control-label">where are you going?</label>
					    		<div class="col-sm-8">
					      				<select name = "user_destination" class="form-control">
											<option value = "berlin">Berlin, DE</option>
											<option value = "boston">Boston, USA</option>
											<option value = "cairo">Cairo, EG</option>
											<option value = "newyork">New York, USA</option>
											<option value = "london">London, UK</option>
											<option value = "losangeles">Los Angeles, USA</option>
											<option value = "mexicocity">Mexico City, MX</option>
											<option value = "mumbai">Mumbai, IN</option>
											<option value = "paris">Paris, FR</option>
											<option value = "rio">Rio de Janiero, BR</option>
											<option value = "rome">Rome, IT</option>
											<option value = "sanfrancisco">San Francisco, USA</option>
											<option value = "tokyo">Tokyo, JP</option>
											<option value = "washingtondc">Washington DC, USA</option>
										</select>

					    		</div>
					  		</div>
					  		<div class="form-group">
					    		<label for="trip-type" class="col-sm-4 control-label">what kind of trip is it?</label>
					    		<div class="col-sm-8">
					      				<select name = "user_biz" class="form-control">
											<option value="formalbiz">Formal business trip</option>
											<option value="casualbiz">Casual business trip</option>
											<option value="vacation">Vacation</option>
										</select>

					    		</div>
					  		</div>
					  
					  		<div class="form-group">
					    		<div class="col-sm-2">
					    		</div>
					    		<div class="col-sm-2">
					    		</div>
					    		<div class="col-sm-2">
					    			<label for="month-select" class="control-label">departure month:</label>
					    				<select name = "user_depart_month" class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
											<option>11</option>
											<option>12</option>
										</select>

					    		</div>
					    		<div class="col-sm-2">
					    		<label for="month-select" class="control-label">departure day:</label>
					    				<select name = "user_depart_date" class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
											<option>11</option>
											<option>12</option>
											<option>13</option>
											<option>14</option>
											<option>15</option>
											<option>16</option>
											<option>17</option>
											<option>18</option>
											<option>19</option>
											<option>20</option>
											<option>21</option>
											<option>22</option>
											<option>23</option>
											<option>24</option>
											<option>25</option>
											<option>26</option>
											<option>27</option>
											<option>28</option>
											<option>29</option>
											<option>30</option>
											<option>31</option>
										</select>

					    		</div>
					    		<div class="col-sm-2">
					    			<label for="month-select" class="control-label">number of days:</label>
						    			<select name = "user_number_days" class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
										</select>
					    		</div>
					  		</div>
					  		
					  		<div class="form-group">
					    		<div class="col-sm-offset-4 col-sm-8">
					      		<button type="submit" class="btn btn-success" name = "pack">send me packing</button>
					    		</div>
					  		</div>
						</form>
			</div>
			<div class="col-md-1"></div>
			</div>
			<div id = "results">
			blah
			</div>

	</body>
</html>