<!DOCTYPE html>
<html>
	<head profile="http://www.w3.org/2005/10/profile">
		<meta charset="utf-8">
		<link rel="icon" 
    	type="image/png" 
      	href="../static/img/favicon.ico">
      	
      	<title>Valeez - pack your bags!</title>

      	<!--jquery link-->
      	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

		<!--bootstrap-->
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<!--custom JS and css files-->
      	<script type="text/javascript" src="../static/script.js"></script>
      	<link rel="stylesheet" href="../static/styles.css">

		<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<!-- begin top nav -->
		<nav "navbar navbar-default navbar-static-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="nav navbar-brand nav-brand" href="#">Valeez</a>
					<ul class="nav navbar-nav">
						<li><a class="nav-link" href="#howitworks">how it works</a></li>
						<li><a class="nav-link" href="#about">about</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- first row, with form element -->
		<div class="container-fluid" id="pack-background">
			<div class="row title-row title-style"> <!--row1-->

				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-6 col-xs-6">
						<p>
						Ready to go?<br/>
						Use <strong>Valeez</strong> to pack your bags!
						</p><p></p>
				</div>
				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-4"></div><!--empty space for graphic-->
				
			</div> <!-- row1 end-->

			<div class="row form-row"><!--row2-->
				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-6 label-style">
					<div class="col-md-2">
					<form action="/getpacking" method="GET" name="getpacking">
						<label>Destination: 
					</div>

					<div class="col-md-4 dropdown-style">
						<select name="city">
						{% for key, value in city_dict|dictsort(false, 'key') %}
						<option value="{{ value[0] }}" name="city" id="city-field">{{ key }}</option>
						{% endfor %}
						</select></label>
					</div>
				</div>
				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-4"></div><!--empty space for graphic-->
			</div><!--row2 end-->

			<div class="row form-row"><!--row3-->
				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-6 label-style">
					<div class="col-md-2">
						<label>Dates:
					</div>
					<div class="col-md-4">
						<label>
							<input type="text" id="depart-date" class="date-picker" name="depart_date" required>
							to
							<input type="text" id="return-date" class="date-picker" name="return_date" required>
						</label>
					</div>
				</div>
				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-4"></div><!--empty space for graphic-->
			</div><!--row3 end-->

			<div class="row form-row"><!--row4-->
				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-6 label-style">
					<div class="col-md-2">
						<label>Trip type:
					</div>
					<div class="col-md-4">
						<select name="trip_type" id="trip-type">
						<option value="formal">Formal business trip</option>
						<option value="casual">Casual business trip</option>
						<option value="vacation">Vacation</option>
						</select></label>
					</div>
										
				</div>
				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-4"></div><!--empty space for graphic-->
			</div><!--row4 end-->

			<div class="row form-row"><!--row5-->
				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-6 label-style">
					<div class="col-md-2">
						<label>Dress as a: 
					</div>
					<div class="col-md-4">
						<select name="gender" id="gender">
						<option value="female">Woman</option>
						<option value="male">Man</option>
						</select></label>
					</div><p></p>
										
				</div>
				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-4"></div><!--empty space for graphic-->
			</div><!--row5 end-->

			<div class="row"><!--row6-->
				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-6 button-row">
				<button type="submit" class="btn" id="get-packing-button">
						Get packing!
				</button>
				</form>	 <!--ending the get-packing form -->	
				</div>
				<div class="col-md-1"></div><!--column spacer-->
				<div class="col-md-4"></div><!--empty space for graphic-->
			</div><!--row6 end-->

		</div><!--end of form section-->


		<div id="get-packing"><a="get-packing">blah</a><!--beginning of results section-->
	
		</div> <!--end of results section-->


		<div id="how-it-works"><!--beginning of how it works section-->
		How it works
		</div> <!--end of how it works section-->

		<div id="about"><!--beginning of about section-->
		About
		</div> <!--end of about section-->
	</body>
		
</html>